h3 {
  font-size: 300%;
  font-family: Helvetica;
  font-weight: bolder;
}
#title{
  display: flex;
  justify-content: space-around;
}

#container{
  display: flex;
  border: 1px bisque solid;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
}
